<div class = "form">
    <h2>Результат:</h2>
    <p>Положительные элементы массива: <%= @out_arr.join(', ') %></p>
    <p>Сумма положительных элементов: <%= @sum %></p>
<%= link_to "Try again", :arms_input %>
